.swiper-button-prev {
  color: #f6e05e !important;
}

.swiper-button-next {
  color: #f6e05e !important;
}

.active-link {
  font-size: large;
}

.st0{
  fill:#fdba74;
}

.st1{
  fill:#FFFF;
}

.st2{
  fill:#FFFF;
}

.st3{
  fill:#FFFF;
}

@keyframes marquee {
  0% {
  transform: translateX(100%);
  }
  100% {
  transform: translateX(-800%);
  }
}